@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url('./images/pattern-curve.svg'),  url('./images/pattern-bg.svg');
    background-repeat: no-repeat;
    background-position: bottom left, center right;
    background-size: auto, 450px;
    display: flex;
    align-items: center;
}
.container {
    display: flex;
    width: 90%;
    height: 450px;
    margin: 0 auto;
    overflow: hidden;
}

.text-testi {
    background-image: url('./images/pattern-quotes.svg');
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-position: 100px 100px;
    height: 100%;
}
article {
    right: -70px;
    position: relative;
    z-index: 3;
    min-height: 150px;
}
article p{
    font-size: 1.3rem;
    font-weight: 100;
    color: hsl(240, 38%, 20%);
}
.name-title {
    position: relative;
    top: 15px;
    font-size: 14px;
}
.title {
    font-weight: 300;
    color: hsl(240, 18%, 77%);
}

.image-section {
    width: auto;
    height: 100%;  
}
.image-user {
    margin-top: 50px;
    position: relative;
    height: 300px;
    margin-right: 60px;
    width: 300px;
}
.image-user img{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: all .6s linear;
}

.btn-slide {
    width: auto;
    position: relative;
    top: -20px;
    left: 30px;
}
.btn-prev, .btn-next{
    border: none;
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    background-color: rgb(250, 250, 250);
}
.btn-prev {
    border-radius: 25px 0 0 25px;
    background-image: url('./images/icon-prev.svg');
}
.btn-next {
    border-radius: 0 25px 25px 0;
    background-image: url('./images/icon-next.svg');
}



@media screen and (max-width: 850px){
    body {
        background-color: rgb(255, 255, 255);
        align-items: flex-start;
        background-position: bottom left, top center;
        background-size: auto, 400px;
    }
    .container {
        height: auto;
        flex-direction: column;
    }
    .text-testi {
        margin-top: 20px;
        order: 1;
        justify-content: center;
        height: auto;
        width: 100%;
        min-height: 200px;
        background-position: center top;
    }
    article {
        margin-right: 0px;
        font-size: 1.1em;
        text-align: center;
        height: auto;
    }

   .image-section {
       position: relative;
       height: 400px;
   }
    .image-user {
        margin: 50px auto;
    }
    .btn-slide { 
        top: calc(100% - 70px);
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
    }
}